<nav id="floating-nav" role="navigation" class="sticky">

	<div id="floating-nav-content">
		<div class="floating-nav">
			<ul id="menu-floating-menu" class="menu">
				<li id="menu-item-13410" class="home menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-13410">
					<a href="/">Home</a>
				</li>
				<li id="menu-item-13713" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13713">
					<a href="http://apairandasparediy.com/project-gallery">DIY Projects</a>
				</li>
				<li id="menu-item-13710" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13710">
					<a href="http://apairandasparediy.com/category/style">Style</a>
				</li>
				<li id="menu-item-13711" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13711">
					<a href="http://apairandasparediy.com/category/life">Life</a>
				</li>
				<li id="menu-item-13712" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13712">
					<a href="http://apairandasparediy.com/category/travel">Travel</a>
				</li>
				<li id="menu-item-13465" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13465">
					<a href="http://apairandasparediy.com/search">Search</a>
				</li>
			</ul>
		</div>
		<div id="floating-nav-social-icons">
			<ul>
				<li>
					<a class="facebook" target="_blank" href="http://www.facebook.com/pages/A-Pair-A-Spare/126034164117853"></a>
				</li>
				<li>
					<a class="footer twitter" target="_blank" href="http://twitter.com/apairandaspare"></a>
				</li>
				<li>
					<a class="footer instagram" target="_blank" href="http://instagram.com/apairandaspare"></a>
				</li>
				<li>
					<a class="footer rss" target="_blank" href="/?feed=rss"></a>
				</li>
				<li>
					<a class="footer bloglovin" target="_blank" href="http://www.bloglovin.com/en/blog/1735844/a-pair-amp-a-spare"></a>
				</li>
				<li>
					<a class="footer pinterest" target="_blank" href="http://pinterest.com/apairandaspare"></a>
				</li>
				<li>
					<a class="footer google" target="_blank" href="https://plus.google.com/u/0/102044447193058650927/posts"></a>
				</li>
			</ul>
		</div>
	</div>
</nav>