<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style-popups.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/w3.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>
<body>
	<div id="floating-nav-content">
		<div id="header"></div>
	</div>
	<div class="container" >
		<div>
			<h1 style="text-align: center;">
				<%= heading %></h1>
		</div>
			<% include partials/loginForm %>
		<div class="userform">
			<div>
				<label for="username">username:</label>
				<input type="text" id="username" name="username"></div>
			<div>
				<label for="password">password:</label>
				<input type="password" id="password" name="password"></div>
			<button id = "submit-button" class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left">OPEN</button>
		</div>
		<div class="footer">
			<button id="settings" href="#modal" type="button" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			</button>
		</div>
		<%= status %></div>

	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script type="text/javascript" src="javascripts/jquery.leanModal.min.js"></script>
	<script>
		$(document).ready(function(){
		    $('#submit-button').click ( function(){
		    	$data = {
						 username: $('#username')[0].value,
		            	 password: $('#password')[0].value
		    	}
		        $.ajax({
		            url: '/open',
		            type: 'POST',
		            data: $data,
		            dataType: 'json',
		            success: function (data, textStatus, jqXHR)
		            {	
		                console.log("textStatus");
		                if (typeof data.redirect == 'string'){
		                    window.location = data.redirect;
		                }
		            }
		        });
			});
			$('#settings').click( function(){
				console.log("settings")
			});
	    	$("#settings").leanModal({top : 100, overlay : 0.6, closeButton: ".modal_close" });
		});

	    $(function(){
			// Going back to Social Forms
			$(".back_btn").click(function(){
				$(".user_login").hide();
				$(".user_register").hide();
				$(".social_login").show();
				$(".header_title").text('Login');
				return false;
			});

			$(".login-btn").click(function(){
				console.log('config');
		    	$data = {
						 username: $('#popup-username')[0].value,
		            	 password: $('#popup-password')[0].value
		    	}
		        $.ajax({
		            url: '/configuration',
		            type: 'POST',
		            data: $data,
		            dataType: 'json',
		            success: function (data, textStatus, jqXHR)
		            {	
		                console.log("textStatus");
		                if (typeof data.redirect == 'string'){
		                    window.location = data.redirect;
		                }
		            }
		        });
		        var modal_id = $(this).attr("href");
				$("#lean_overlay").fadeOut(200);
                $(modal_id).css({
                    "display": "none"
                })
			});
		})
	</script>
</body>

</html>