
        <div data-role="popup" id="myPopup" class="ui-content" style="min-width:250px;">
          <form method="post" action="#">
            <div>
              <h3>House information</h3>
              <label for="county-select" class="ui-hidden-accessible">county</label>
              <select type="text" name="county" id="county-select" placeholder="County">
                <option>galway</option>
                <option>dublin</option>
              </select>

              <label for="addrline1" class="ui-hidden-accessible">Add line 1:</label>
              <input type="text" name="houseNumber" id="addrline1" placeholder="123 cookie st">

              <label for="addrline2" class="ui-hidden-accessible">Add line 2:</label>
              <input type="text" name="addrline2" id="addrline2" placeholder="...">


              <label for="city-select" class="ui-hidden-accessible">city/town:</label>
              <input type="text" name="city" id="city-select" placeholder="Galway">


              <label for="anonymouse">make me anonymouse</label>
              <input type="checkbox" name="anonymouse" id="anonymouse" value="1" data-mini="true">
              <input type="submit" data-inline="true" value="submit">
            </div>
          </form>
        </div>